.account {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: solid;
  padding: 1rem;
}

.account > .account_item {
  justify-self: start;
}

.account_item {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.account-menu {
  display: flex;
  justify-content: space-between;
  position: absolute;
  gap: 1rem;
  flex-direction: column;
  border: solid;
  padding: 1rem;
  background-color: var(--popup-background-color);
}
