div.grouping {
  border: 1px solid #e6e6e6;
  padding: 4px;
  margin-top: 4px;
  /* text-align: center; */
}

div.grouping > * {
  padding: 4px;
}

div.grouping > div > div {
  padding: 2px;
}

div.grouping > div > div {
  display: flex;
  justify-content: space-between;
}

div.grouping > div > div:has(input[type="checkbox"]) {
  justify-content: start;
}

div.grouping > div > div :nth-child(1) {
  padding-right: 4px;
}
