.item-list > div {
  border: solid;
  width: min(700px, 90vw);
}

.item-list > div > input[type="checkbox"] {
  display: none;
}

.item-list > div > .item-header + div {
  padding-left: 1rem;
}

.item-list .item-header + .project-item-detail {
  display: none;
}

.item-list > div > input[type="checkbox"]:checked + .item-header + div {
  display: block;
  background-color: var(--subsection-background-color);
}

.item-list > div > .item-header > label::before {
  content: "\25b8\0020";
  cursor: pointer;
}

.item-list
  > div
  > input[type="checkbox"]:checked
  + .item-header
  > label::before {
  /* this is the down arrow */
  content: "\25bE\0020";
}

.children::after {
  content: "\25b8\0020";
}

button.children:hover {
  cursor: pointer;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

/* This is useful */
/* If the item.started_dtm is true, then the class "started" is added to the div */
/* and the main label is bolded */
.started {
  font-weight: bold;
}

/* If the item.paused_dtm is true, then the class "paused" is added to the div */
/* and the main label is bolded */
.paused {
  font-style: italic;
}

/* If the item.completed_dtm is true, then the class "completed" is added to the div */
/* and the main label has a turquoise background */
/* Now, since everything that was completed must have been started then both the */
/* label will be bolded and have a turquoise background */
.completed {
  background-color: turquoise;
}

/* If the item.completed_dtm is true, then the class "completed" is added to the div */
/* and the main label has a turquoise background */
.canceled {
  background-color: red;
}
