/* *** The fieldset related CSS rules *** */

.register_login {
  width: 20rem;
  background-color: var(--emphasis-background-color);
  border: solid;
  border-radius: 0.5rem;
  padding: 1rem;

  label {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  input {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  input:invalid:not(:placeholder-shown),
  textarea:invalid:not(:placeholder-shown) {
    border-color: red;
  }

  input:invalid:not(:placeholder-shown) ~ span::after {
    content: "✖";
    color: red;
    margin-left: 0.5rem;
  }

  .error-message {
    color: red;
  }

  .success-message {
    color: green;
  }
}

/* *** Perhaps some time in the future I will experiment with *** */
/* *** using user-invalid instead of invalid *** */
/* input:user-invalid,
textarea:user-invalid {
  border-color: red;
} */

/* *** The form-control-wrapper class CSS rules *** */

.form-control-wrapper {
  margin-bottom: 0.5rem;
}

/* *** The label-above-wrapper class CSS rules *** */

.label-above-wrapper {
  position: relative;

  > span {
    display: flex;
    color: lightgreen;
    align-items: center;
    position: absolute;
    right: 0.5rem;
    top: 0;
    bottom: 0;
  }

  > input:invalid:not(:placeholder-shown) + span {
    color: red;
  }
}

/* *** The embedded-label-wrapper class CSS rules *** */
.embedded-label-wrapper {
  position: relative;

  > * {
    position: absolute;
  }

  > label {
    user-select: none;
    padding: 1rem;
  }

  > input {
    position: relative;
    padding: 1rem;
  }

  > span {
    padding: 0.5rem;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
  }

  > span.show::before {
    content: url("open-eye.svg");
    margin-right: 0.5rem;
  }

  > span.hide::before {
    content: url("closed-eye.svg");
    margin-right: 0.5rem;
  }

  > input:placeholder-shown + label {
    font-size: 1rem;
    top: 0rem;
    transition: all 0.5s;
  }

  > input:not(:placeholder-shown) + label,
  > input:focus + label {
    font-size: 0.8rem;
    padding-bottom: 0rem;
    top: -0.8rem;
    transition: all 0.5s;
  }

  > input.password_focus + label {
    font-size: 0.8rem;
    padding-bottom: 0rem;
    top: -0.8rem;
    transition: all 0.5s;
  }
}
