.complex-list-item {
  display: flex;
  justify-content: space-between;
  width: min(700px, 90vw);
}

.complex-list-item > button {
  color: red;
  cursor: pointer;
}

.complex-list-item > div {
  display: flex;
}

ol > li {
  margin-bottom: 0.5rem;
}

ol > li:nth-child(2n) {
  background-color: rgb(240, 240, 240);
}
