@import "./colors.css";

.popup-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.popup {
  align-self: center;
  background-color: var(--popup-background-color);
  border-radius: 1rem;
  padding: 0.5rem;
  /* display: flex;
  flex-direction: column; */
}

dialog::backdrop {
  background-color: var(--backdrop-color);
}

.popup .buttons {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}

input[type="text"] ~ span {
  margin-bottom: 0.5rem;
}

.add-item-buttons {
  display: flex;
  flex-direction: row;
}

.block {
  display: block;
}

#item_name:invalid + span + span {
  color: var(--emphasis-color);
}

#item_name + span::before {
  padding-left: 0.25rem;
}

#item_name:invalid + span::before {
  content: "✖";
  color: var(--emphasis-color);
}

#item_name:valid + span::before {
  content: "✔";
  color: green;
}

#item_description {
  width: 100%;
}
