@import "./colors.css";

.popup-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(240, 255, 255, 0.7);
}

.popup {
  align-self: center;
  background-color: var(--emphasis-color);
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.popup .buttons {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.popup textarea {
  resize: none;
  min-width: 350px;
  min-height: 5rem;
  margin-bottom: 1rem;
}

input[type="text"] ~ span {
  margin-bottom: 0.5rem;
}

.add-item-buttons {
  display: flex;
  flex-direction: row;
}
