@import "./colors.css";

html {
  box-sizing: border-box;
  color: var(--primary-font-color);
}

::before,
::after,
* {
  box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  padding: 0.5rem;
  color: var(--emphasis-color);
}

nav.nav-using-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 4px;
  background-color: var(--secondary-color);
  border-bottom: 1px solid #e6e6e6;
}

a.navlink {
  text-decoration: none;
  color: var(--primary-font-color);
  padding: 4px;
  border-radius: 4px;
}

a.navlink:hover {
  color: var(--emphasis-color);
  background-color: rgba(0, 133, 242, 0.063);
  height: 100%;
}

.route {
  display: flex;
  flex-direction: column;
  align-items: center;
}
