@import "./colors.css";

html {
  box-sizing: border-box;
}

::before,
::after,
* {
  box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  padding: 0.5rem;
  color: var(--primary-color);
}

.app,
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  display: flex;
}

button {
  background: none;
  border: 0;
}

button.subscription-button {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
  margin-top: 1rem;
}

button.subscription-button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

button.subscription-button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button.return::after {
  font-size: 30px;
  content: "\25B2";
  padding-inline-end: 10px;
}

button.return {
  display: none;
}

button.return.visible {
  color: var(--primary-color);
  opacity: 0.3;
  display: block;
}

button.return:hover {
  opacity: 1;
  scale: 1.5;
  transition: all 0.5s;
}

/* *** using a span element to indicate the purpose of the "start" check box *** */
div.toggle {
  position: relative;
}

div.toggle:hover > span.hide {
  opacity: 1;
  font-size: 0.8rem;
  color: var(--primary-color);
  transition: all 1s;
}

footer {
  display: flex;
  flex-direction: column;
}
