.project-item-detail {
  padding: 0.5rem;
}

.item-controls {
  display: flex;
  justify-content: space-between;
}

button.editable::before {
  /* These are the actual two 4-byte hex codes that create the pencil */
  /* content: "\270F\FE0F"; */
  content: "✏️";
  margin-right: 0.5rem;
  cursor: pointer;
}

button.editable.editing > label::before {
  /* content: "\2705"; */
  content: "\1f4be";
  margin-right: 0.5rem;
  cursor: pointer;
}

input.editable {
  display: none;
}

.description input[type="checkbox"] {
  display: none;
}

.description .notes-list {
  display: none;
}

.description > label::before {
  content: "\25b8\0020";
  cursor: pointer;
}

.description input[type="checkbox"]:checked + label::before {
  /* this is the down arrow */
  content: "\25bE\0020";
}

.description input[type="checkbox"]:checked ~ .notes-list {
  display: block;
}
